[package]
edition = "2021"
name = "node-altjtalk-binding"
version = "0.1.6"

[lib]
crate-type = ["cdylib"]

[dependencies]
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
napi = { version = "2.12.2", default-features = false, features = ["napi4"] }
napi-derive = "2.12.2"

jpreprocess = "0.6.3"
lindera-dictionary = { version = "0.27" }
jbonsai = { git = "https://github.com/jpreprocess/jbonsai.git" }

[build-dependencies]
napi-build = "2.0.1"

[profile.release]
lto = true
